.page-main {
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
}
.title {
    padding: 10px 10px 15px 10px;
    font-size: 17px;
    font-weight: 600;
    color: #e16d6d;
    border-bottom: 1px solid #eee; 
}
.search-group {
    padding: 15px 15px 0 15px;
    text-align: right;
}
.container {
    padding: 15px;
}